/* GENERAL STYLE */

body {
    font-family: 'Open Sans', serif;
    padding-top: 54px;
    color: #868e96;
    background-image: url('./static/assets/images/bg.jpeg'); /* Path to your background image */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (min-width: 992px) {
    body {
        padding-top: 5rem; /* Adjust padding to avoid content being blocked by the navbar */
        padding-left: 0;
    }
}

h1 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    color: white;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    color: black;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
    position: relative;
    margin-top: 5rem; /* Add margin to push content below the navbar */
}

h2 {
    font-size: 3.5rem;
}

a {
    color: black;
}

a:hover,
a:focus,
a:active {
    color: red;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.35rem;
}

.btn {
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: red;
    color: white;
}

/*==================================================
                  SOCIAL-ICON
====================================================*/

.list-social-icons a {
    color: red;
}

.list-social-icons a:hover {
    color: black;
}

.list-social-icons a .fa-lg {
    font-size: 1.75rem;
}

.list-icons {
    font-size: 3rem;
}

.list-icons .list-inline-item i {
    color: red;
}

.list-icons .list-inline-item i:hover {
    color: black;
}

/*==================================================
                    NAV-BAR
====================================================*/

#topNav .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase;
    color: red;
}

@media (min-width: 992px) {
    #topNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row; /* Change to row for horizontal layout */
        width: 100%; /* Full width for top bar */
        height: auto; /* Adjust height */
        background-color: black !important;
        z-index: 1000; /* Ensure it stays on top */
    }
    #topNav .navbar-brand {
        display: flex;
        margin: 0 auto;
        padding: 0.5rem;
    }

    #topNav .navbar-collapse {
        display: flex;
        align-items: center;
        flex-grow: 1;
        width: auto;
        margin: 0 auto;
    }
    #topNav .navbar-collapse .navbar-nav {
        flex-direction: row; /* Change to row for horizontal layout */
        width: auto;
    }
    #topNav .navbar-collapse .navbar-nav .nav-item {
        display: inline-block; /* Inline for horizontal layout */
    }
    #topNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: inline-block; /* Inline for horizontal layout */
        padding: 1rem; /* Adjust padding as needed */
        color: red; /* Adjust text color as needed */
    }
}

/*==================================================
                  BUTTON (Generic)
====================================================*/

.btn-general {
    background-color: transparent;
    text-align: center;
    border-width: 1px;
    border-radius: 0px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: black;
    background-color: black;
    font-weight: bold;
    color: white;
    border-radius: 12px;
}

.btn-white:hover,
.btn-white:focus {
    color: red;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.btn-green {
    border-color: black;
    color: black;
}

.btn-green:hover,
.btn-green:focus {
    background-color: red;
    color: #fff;
    cursor: pointer;
}

/*==================================================
                  SECTION (Generic)
====================================================*/

.heading-border {
    width: 60px;
    height: 10px;
    background-color: red;
    margin: 0 auto 20px auto;
}

section.resume-section {
    border-bottom: 1px solid #dee2e6;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
    min-width: none;
}

@media (min-width: 992px) { 
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}

.bg-primary {
    background-color: black !important;
    /* background: linear-gradient(to right , #db1bf6 ,#19d7f8) !important;*/
}

.text-primary {
    color: white !important;
}



/*==================================================
                      HOME
====================================================*/

#home {
    position: relative;
            background-image: url(../assets/images/bg.jpeg); 
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            height: 100vh; /* Full screen height */
            padding-top: 56px; /* Ensure it clears the navbar */
            margin-top: -56px; /* Offset to remove gap */
            z-index: 1;
        }
#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: -1; /* Ensure the overlay is behind content */
}


/*==================================================
                  PORTFOLIO
====================================================*/

#portfolio {
    padding: 100px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.portfolio-link {
    position: relative;
    display: block;
    cursor: pointer;
}

.portfolio-caption {
    margin-top: 15px;
    text-align: center;
}

.portfolio-caption h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.portfolio-caption p.description {
    margin: 10px 0;
    font-size: 1rem;
    color: #868e96;
}

.portfolio-caption a.btn {
    margin-top: 10px;
}

/* Lightbox CSS */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  .lightbox-content img {
    width: 100%;
    height: auto;
  }
  
  .close-lightbox {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close-lightbox:hover,
  .close-lightbox:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  



/*==================================================
                    CONTACT
====================================================*/ 

#contact{
    padding: 50px 0;
 }
  
  #contact .contact-cont h3{
    color:#555;
    font-size: 45px;
  }
  
  #contact .contact-cont p{
    padding-right: 20px;
    font-size: 15px;
  }
  
  #contact .contact-cont2 address,
  #contact .contact-cont2 address a{
    color:#666;
  }
   
  .con-form input {
      border-color: #ccc;
      border-radius: 0;
      color: #717171;
      margin-top: 30px; 
  }
  
  .con-form textarea {
      width: 100%; 
      height: 200px;
      margin:30px 0;
      border-color: #ccc;
      border-radius: 0;
      color: #717171;
  }
  
  .contact-side-desc{
      padding-top: 110px;
  } 
  
  .contact-box-desc h3{
    color:#555;
  }
  
  .contact-box-desc h3 i{
    color: red;
  }
  
  .social-icon-f li{
    display: inline-block;
  }
  
  .social-icon-f li i{
    height: 35px;
    width:35px;
    line-height: 35px;
    border:2px solid red;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
  }  
  
  @media(max-width: 767px){
      #contact-p2 .con-form input{
          margin-bottom: 30px;
      }
      .con-form textarea {
          width: 100%; 
          height: 200px;
          margin:10px 0 30px 0;
          border-color: #ccc;
          border-radius: 0;
          color: #717171;
      }
  
      .contact-box-desc{
          text-align: center;
      }
  
      #contact .social-icon-f{
          text-align: center;
      }
  }
  
  @media (max-width: 575px){
      #contact .social-icon-f{
              text-align: center;
      }    
  }
  
  @media (max-width: 420px){
      #contact .social-icon-f{
              text-align: center;
      }    
  }
   

/*==================================================
                    FOOTER
====================================================*/ 

footer {
    text-align: center;
    padding: 25px 0;
}

footer .list-inline {
    margin-bottom: 25px;
}

footer .list-inline .fa-stack {
    font-size: 1.5rem;
}